* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: linear-gradient(
        to right,
        rgb(16, 20, 23, 0.9),
        rgba(16, 20, 23, 0.7)
    ),
    url("images/rsz_img-20240523-wa0032.jpg");
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

header .logo a img {
    max-width: 150px;
    max-height: 150px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
   color: white;
   font-size: 20px;
   padding: 5px 25px;
   font-style: solid;
   font-family: Arial;
}

.active {
    color: white;
    font-style: solid;
    font-weight: bold;
}



.btn {
    display: flex;
}

.login {
    background-color: #92e695;
    color: rgb(16, 20, 23, 0.9);
    height: 32px;
    width: 100px;
    border-radius: 20px;
    border: none;
    font-style: solid;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.sign-up {
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: #92e695;
    border-radius: 20px;
    height: 32px;
    width: 100px;
    font-style: solid;
    font-family: Arial;
    font-size: 15px;
    cursor: pointer;
}

/* content */

.content {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

.content h2{
    font-size: 40px;
    color: white;
    font-family: 'MuseoModerno';
    font-weight: bold;
    font-style: solid;
    text-align: center;
    padding-bottom: 10px;
}


.content p{
    font-size: 20px;
    color: white;
    padding-bottom: 25px;
    font-family: Arial;
    width: 700px;
}

.input-icon {
    width: 100%;
}

.input-icon i {
    position: absolute;
    padding: 17px;
    color: gray;
}

.icon {
    color: white;
}

.search-bar {
    width: 90%;
    height: 50px;
    padding: 10px 50px;
    border-radius: 10px;
    border-style: none;
}

@media (max-width: 700px) {

    .content p {
        width: 500px;
        text-align: center;
    }
}

@media (max-width: 600px) {

    header {
        flex-direction: column;
    }
    header nav ul {
        margin-bottom: 30px;
    }

    .content {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .content h2 {
      width: 430px;  
    }

    .content p {
        width: 412px;
        text-align: center;
    }
}

@media (max-width: 500px) {

    header {
        flex-direction: column;
    }
    header nav ul {
        margin-bottom: 30px;
    }

    .login {
        margin-right: 25px;
    }

    .content {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .content h2 {
      font-size: 25px;
      width: 430px;  
    }

    .content p {
        width: 412px;
        text-align: center;
    }
}

@media (max-width: 410px) {
    

    header {
        flex-direction: column;
    }
    header nav ul {
        margin-bottom: 30px;
    }

    .login {
        margin-right: 20px;
    }

    .content {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .content h2 {
      width: 415px;
      font-size: 20px;  
    }

    .content p {
        width: 400px;
        text-align: center;
    }
}